html {
	background-image: url("../images/bg.gif");
	background-position: 0px 0px;
	background-repeat: repeat;
	background-color: #fff;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../images/blue-bg.svg");
	background-position: 50% 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#wrapper {
	background-image: url("../images/illustration.png");
	background-position: 100% -900px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}

#container {
	width: 920px;
	padding: 40px 20px;
	margin: 0 auto;
}

p {
	margin-bottom: 100px;
}